p{
    color: aqua;
    size: 60px;
}
/*
 css的基本语法: 
    选择器 声明快

    选择器,通过选择器可以选中页面中的指定元素
        比如p的作用就是选择页面中的所有p元素
    
    声明快,通过声明快来指定要为元素设置的样式
        声明块由一个一个的声明块注册
        声明块是一个名值对结构
            一个样式名对应一个样式值,名和值之间以:连接 以;结束
 */